

<div class="jumbotron">
<h1>Welcome to myApp</h1>
<p>It's gonna kick all Ass</p>
  <%= link_to 'About us',home_about_path,class:'btn btn-default' %>
  <%= link_to 'Home',root_path,class:'btn btn-primary'%>
</div>